* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --azul-escuro: #363062;
    --azul-medio: #4D4C7D;
    --amarelo: #F99417;
    --branco: #F5F5F5;
    --sidebar-width: 240px;
}

body {
    background-color: var(--azul-escuro);
    color: var(--branco);
}

img {
    width: 100%;
}

/* NAVBAR */

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidebar-width);
        background: linear-gradient();
    }
}