* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --azul-escuro: #363062;
    --azul-medio: #4D4C7D;
    --amarelo: #F99417;
    --branco: #F5F5F5;
    --sidebar-width: 240px;
}

body {
    background-color: var(--azul-escuro);
    color: var(--branco);
}

img {
    width: 100%;
}

.text-band {
    color: var(--amarelo);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

/* NAVBAR */

.navbar {
    background-color: var(--azul-medio);
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--branco);
}

.navbar .nav-link:hover {
    color: var(--amarelo);
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidebar-width);
        background: linear-gradient(rgba(76, 76, 123, 0.8), rgba(77, 77, 122, 0.8)), url(../assets/pexels-malcolm-gillanders-16552524.jpg);
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img {
        border: 5px solid var(--amarelo);
    }

    /* CONTEUDO */

    #content-wrapper {
        padding-left: var(--sidebar-width);
    }
}

/* BTN */

.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand {
    background-color: var(--amarelo);
    border-color: var(--amarelo);
    color: var(--azul-medio);
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: var(--branco);
    color: var(--azul-medio);
}

.link-custom {
    font-weight: 700;
    position: relative;
    text-decoration: none;
    color: var(--branco);
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--amarelo);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}